@media (max-width: 480px) {
    .gridconteiner {
        display: grid !important;   
        grid-template-areas:
        "header header"
        "nav nav"
        "productos1 productos1 "
        "productos2 productos2 "
        "footer footer" !important
        ;
        grid-template-rows: 1000px 188px 1400px 1400px 200px !important;
        grid-template-columns: auto auto !important;
        row-gap: 1px !important;
}
img#logo{
    margin: 330px 80px 80px 120px;
    height: 200px;
    width: 200px;
    position: absolute;
}

img#encabezado{
    height: 1000px !important;
    width: 480px !important;
}

#nav1{
    display: flex;
    flex-direction: column ;
    width: 480px;
}

nav div a {
    display: flex !important;
    width: 480px;
    // flex-direction: column !important;
}
.img{
    width: 550px;
    margin: 10px;
    display: flex !important;
    flex-direction: column !important;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
}
main#padre{
    width: 480px;
    height: 1400px;
}

section.row{
    display: flex;
    flex-direction: row !important;
}
main#padre2{
    width: 480px;
    height: 1400px;
}

section div{
    display: flex !important;;
flex-direction: column !important;
align-items: center !important;
}  

footer{
    height: 200px; ;
    width: 480px;
}
a.footer-text{
    margin: 0px 0px 0px 0px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align-last: center;
}
}

@media (max-width: 480px) {
        img#logo{
            margin: 330px 80px 80px 120px!important;
            height: 200px!important;
            width: 200px!important;
            position: absolute!important;
        }
        
        img#encabezado{
            height: 1000px !important;
            width: 480px !important;
        }
        
        #nav2{
            display: grid !important;
            grid-area: nav2 !important;
            width: 480px!important;
            div a { 
            flex-direction: column !important;
            display: flex !important;
            width: 480px!important;
        }
        }
    
    .gridproductos {
        display: grid !important;   
        grid-template-areas:
        "productos1 productos1 "
        "productos2 productos2 "
        "productos3 productos3"
        "footer footer" !important
        ;
        grid-template-rows:1050px 800px 2500px 200px !important;
        grid-template-columns: auto auto !important;
        row-gap: 1px !important;}
    
        #posavasos-grid{
            display: grid !important;
            grid-area: productos1 !important;
        }

        #minialfombras-grid{
            display: grid!important;
            grid-area: productos2!important;
        }

        #alfombras{
            display: grid!important;
            grid-area: productos3!important;
        }

        footer{
            height: 200px!important;
            width: 480px!important;
        }
        a.footer-text{
            margin: 0px 0px 0px 0px !important;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align-last: center;
        }
    
        .grid-servicios{
            display: grid !important;
            grid-template-areas: 
            "servi1 servi1"
            "servi2 servi2 "
            "servi3 servi3"
            "servi4 servi4"!important
            ;
            grid-template-rows:700px 800px 830px 400px !important;
            grid-template-columns: auto auto !important;
            row-gap: 1px !important;
            
        }
        #servi-alfombras{
            display: grid;
            grid-area: servi1;
            width: 480px !important;
            background-color: $violeta;
            border-radius: 5%;
        }

        #servi-mini{
            display: grid;
            grid-area: servi2;
            width: 480px !important;
        }

        #servi-posavasos{
            display: grid;
            grid-area: servi3;
            width: 480px !important;
            background-color: $violeta;
            border-radius: 5%;
        }

        #servi-texto{
            display: grid;
            grid-area: servi4;
            width: 480px !important;
        }
        main#servicios{
            width: 480px !important;
        }
    }


