*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fbc8db;
}

footer{
    background-color: #fa708c;
}
img#logo{
    height: 200px;
    width: 200px;
    position: absolute;
}
img#encabezado{
    height: 300px;
    width: 1350px;;
}

h1{
    display: none;
}
nav {
    background-color: #FCDDDF;
}
nav div a.pages{
    font: 2em Comic;
    color: black;
    border-color: 1px #e9002f;
    border-radius: 10px;
    margin: 0px 40px 0px 45px;
    text-decoration: none}

h2{
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align-last: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align-last: center;
    margin-top: 20px;
    margin-bottom: 20px
}
.img{
    width: 350px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

section div{
    display: flex;
    width: 40%;
flex-direction: row;
} 

div h3.nombres{
    margin-left: 220px;
    margin-right: 20px;
}
section img.img2{
    width: 50%;
    margin-right: 15px;
    border-radius: 15px;

}
section div.servi{
    display: flex;
    flex-direction: row;

}
#lista{
    display: flex;
    justify-content: center;
    align-items: start;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
ul{
    display: flex;
    flex-direction: column;
}
#lista4{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#galeria{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
div.column{
    display: flex;
    flex-direction: column;
}
#servicios{
    width: 3050px;
}

#galeria{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

main#padre{
    background-color: #f48BCB;
    border-radius: 10%;;
}
main#padre2{
    background-color: #f48BCB;
    border-radius: 10%;
}
.imgg{
    width: 300px;
    /* height: 200px; */
    margin: 15px;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    /* margin-left: 50px;
    margin-right: 50px; */
    border-radius: 15px;}

div h3.nombres1{
    margin-left: 110px;
    margin-right: 20px;
}
h2.tit{
    margin: 5px 20px 5px 100px;
}
.titulos{
    margin-left: 110px;
    margin-right: 50px;
}
div h3.nombres0{
    margin-left: 160px;
    margin-right: 40px;
}
div.color{
    background-color: #f48BCB;
    border-radius: 15%;
}

#rosa{
    background-color: #f48BCB;
}

#nav{
    margin: 0px 0px 0px 380px;
}