
@media (max-width: 480px) {
    .gridconteiner {
        display: grid;   
        grid-template-areas:
        "header header"
        "nav nav"
        "productos1 productos1 "
        "productos2 productos2 "
        "footer footer"
        ;
        grid-template-rows:980px 50px 1900px 1900px 100px;; ;
        grid-template-columns: auto auto;
        row-gap: 40px;
}
img#logo{
    margin: 400px 100px 100px 400px;
    height: 200px;
    width: 200px;
    position: absolute;
}

img#encabezado{
    height: 1020px;
    width: 1100px; }

#nav{
    margin: 0px 0px 0px 30px;
}

.img{
    width: 550px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
}

section div{
    display: flex;
    width: 20%;
flex-direction: column;
align-items: center;
}  


}